.form-container {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 40px;
    box-shadow: -10px 10px #FFE0B3;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 9px;
}

.form-control input {
    width: 100%;
    height: 50px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.1em;
    padding:0 10px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    margin-top: 0;
}

.btn-submit {
    width: 100%;
    height: 50px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: 0;
    margin-top: 44px;
    padding: 0;
}
.btn-submit:hover{
    background-color: rgba(255, 153, 0, 0.5);
    border: 0;
}
.new-account-link{
    text-align: center;
    font-size: 15px;
}
.link{
    color: #FF9900;
    border-bottom: 0;
}


.google-btn{
    width: 100%;
    border: 1px solid gray;
    padding: 12px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A414F;
    font-size: 17px;
    margin-top: 79px;
}
.google-btn img{
    width: 20px;
    margin-right: 10px;
}

.forgot-btn{
    background-color: white;
}
.show-pass-btn{
    cursor: pointer;
}
.show-pass-btn:hover{
    text-decoration: underline;
}